fastapi
uvicorn
pydantic
langchain==0.3.27
langchain-community==0.3.31
langchain-text-splitters
langchain-google-genai==2.1.12
langchain-text-splitters==0.3.11
httpx
beautifulsoup4
sqlalchemy
psycopg-binary
psycopg
faiss-cpu
python-dotenv
aiohttp
tiktoken